  
<div class="row">
        <h1><%= @ski_area[:ski_area_name] %></h1>
</div>
<div class="row">
        <p><%= @ski_area[:location] %></p>
</div>

<div class="row">
<div class="col">
    <% for review in @reviews %>
    <div class="card">
    <div class="card-body">
            <div class="media-body">
                    <p><%= review[:comments] %></p>
                    <p><%= review[:date] %></p>
                    <p><%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></p>
            </div>
    </div>
    </div>
    <% end %>
</div>
<div class="col">

</div>
</div>

<div>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/ski_areas/<%= @ski_area[:id] %>/reviews/new" class="btn btn-primary">Submit a Review!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to leave a review.</a>
            <% end %>
        </p>
</div>